
\.idea/

*.iml

*.class

servicios/ProductService/target/classes/

servicios/ProductService/target/maven-archiver/

servicios/ProductService/target/maven-status/maven-compiler-plugin/compile/default-compile/

servicios/ProductService/target/

servicios/OMSUtilities/target/maven-archiver/

servicios/OMSServices/log/

servicios/OMSUtilities/target/maven-status/maven-compiler-plugin/compile/default-compile/

servicios/OMSUtilities/target/

servicios/ProductService/log/

Sony/target/classes/

Sony/target/endorsed/

Sony/target/generated-sources/jaxws-wsimport/co/com/sony/

Sony/target/maven-archiver/

Sony/target/sony/WEB-INF/wsdl/

Sony/target/sony/WEB-INF/lib/

Sony/target/sony/WEB-INF/classes/wsdl/

Sony/target/sony/WEB-INF/

Sony/target/sony/

Sony/target/

log/

Sony/nb-configuration\.xml
/Sony/WS_SonyService/build/
/Sony/WS_SonyService/nbproject/private/
/DHL/WS_RapidService/nbproject/private/
/RapidService/WS_RapidService/nbproject/private/
/PasarelaPagos/WS_CreditCard/nbproject/private/
/mavenproject1/target/
/KallsonysGenerator/target/