
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClienteLabel" data-translate="omsApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cliente.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="omsApp.cliente.documento" for="field_documento">Documento</label>
            <input type="text" class="form-control" name="documento" id="field_documento"
                   ng-model="vm.cliente.documento"
                   required/>
            <div ng-show="editForm.documento.$invalid">
                <p class="help-block"
                   ng-show="editForm.documento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="omsApp.cliente.nombres" for="field_nombres">Nombres</label>
            <input type="text" class="form-control" name="nombres" id="field_nombres"
                   ng-model="vm.cliente.nombres"
                   required/>
            <div ng-show="editForm.nombres.$invalid">
                <p class="help-block"
                   ng-show="editForm.nombres.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="omsApp.cliente.apellidos" for="field_apellidos">Apellidos</label>
            <input type="text" class="form-control" name="apellidos" id="field_apellidos"
                   ng-model="vm.cliente.apellidos"
                   required/>
            <div ng-show="editForm.apellidos.$invalid">
                <p class="help-block"
                   ng-show="editForm.apellidos.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="omsApp.cliente.telefono" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                   ng-model="vm.cliente.telefono"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="omsApp.cliente.correoE" for="field_correoE">Correo E</label>
            <input type="text" class="form-control" name="correoE" id="field_correoE"
                   ng-model="vm.cliente.correoE"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="omsApp.cliente.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                   ng-model="vm.cliente.password"
                   />
        </div>

        <div class="form-group">
            <label data-translate="omsApp.cliente.datosTarjeta" for="field_datosTarjeta">Datos Tarjeta</label>
            <div>
                <div class="form-group" ng-show="vm.cliente.tarjeta.id">
                    <label for="id" data-translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="vm.cliente.tarjeta.id" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="field_tipo"
                           ng-model="vm.cliente.tarjeta.tipo"
                           required/>
                    <div ng-show="editForm.tipo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.tipo.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           ng-model="vm.cliente.tarjeta.numero"
                           required/>
                    <div ng-show="editForm.numero.$invalid">
                        <p class="help-block"
                           ng-show="editForm.numero.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <!--            <select class="form-control" id="field_datosTarjeta" name="datosTarjeta" ng-model="vm.cliente.datosTarjetaId" ng-options="tarjeta.id as tarjeta.id for tarjeta in vm.datostarjetas | orderBy:'id'">
                            <option value=""></option>
                        </select>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
